<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
   <header>
    <div>
        <a href="/"><img src="/img/logo.png" alt=""></a> </div>
        <nav>
            <ul class="menu">
             <li><a href="">smartphone</a></li>
             <li><a href="">tablets</a></li>
             <li><a href="">computadoras</a></li>
            </ul>
            <ul class="usuario">
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </nav>
    
   </header>
   <main>
       <section class="productos">
           
           <article>
               <img class="img-produc" src="/img/img-phone-01.jpg" alt="phone">
               <img class="img-descuento" src="/img/img-descuento.png" alt="">
               <h4>nombre del producto</h4>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
               <a href="">ver más</a>
           </article>

           <article>
            <img class="img-produc" src="/img/img-phone-02.jpg" alt="phone">
            <img class="img-descuento" src="/img/img-gratis.png" alt="">
            <h4>nombre del producto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
            <a href="">ver más</a>
        </article> 

        <article>
            <img class="img-produc" src="/img/img-phone-03.jpg" alt="phone">
            <img class="img-descuento" src="/img/img-nuevo.png" alt="">
            <h4>nombre del producto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
            <a href="">ver más</a>
        </article>

        <article>
            <img class="img-produc" src="/img/img-phone-01.jpg" alt="phone">
            <img class="img-descuento" src="/img/img-descuento.png" alt="">
            <h4>nombre del producto</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
            <a href="">ver más</a>
        </article>

        <article>
         <img class="img-produc" src="/img/img-phone-02.jpg" alt="phone">
         <img class="img-descuento" src="/img/img-gratis.png" alt="">
         <h4>nombre del producto</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
         <a href="">ver más</a>
     </article>
     
     <article>
         <img class="img-produc" src="/img/img-phone-03.jpg" alt="phone">
         <img class="img-descuento" src="/img/img-nuevo.png" alt="">
         <h4>nombre del producto</h4>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, velit cum. Est ad modi a veritatis ut illo odio sapiente.</p>
         <a href="">ver más</a>
     </article>

       </section>
       
       <!---- El elemento HTML <aside> representa una sección de una página que consiste en contenido que está indirectamente relacionado con el contenido principal del documento --->

       <aside>
           <section class="tutoriales">
               <h3>Tutoriales</h3>
               <article>
                   <img src="/img/aside-01.jpg" alt="imagen tutorial">
                   <p>Titulo del tutorial de reparación</p>
               </article>

               <article>
                <img src="/img/aside-02.jpg" alt="imagen tutorial">
                <p>Titulo del tutorial de reparación</p>
            </article>
            
            <article>
                <img src="/img/aside-03.jpg" alt="imagen tutorial">
                <p>Titulo del tutorial de reparación</p>
            </article>
            
            <article>
                <img src="/img/aside-04.jpg" alt="imagen tutorial">
                <p>Titulo del tutorial de reparación</p>
            </article>
           </section>
           <section class="box-publicidad" >
            <h3>Publicidad</h3>
               <article class="publicidad">
                <img src="/img/ad-01.jpg" alt="imagen puclicitaria">
                <img src="/img/ad-02.jpg" alt="imagen puclicitaria">
               </article>
           </section>

       </aside>
   </main>
</body>
</html>

/